	html {
		background-image: url(dust.png);
		background-attachment: fixed;
		background-size: cover;
		padding-top:25px;
		padding-bottom:25px;
		padding-right:90px;
		padding-left:50px;
		}

	
	body {	background-color: white;
		font-family: Papyrus, Geneva, Helvetica;
		color: black;
		width: 1000px;
		length: 100%;
		}
		
			
	h1 {
		color: black;
		opacity: 0.6;
		font-family: 'Droid Sans Mono', sans-serif;
		font-size: 4.0em;
		text-align: left;
		padding-left: 60px;
		}

	h2 {	color: black;
		text-align:left;
		padding-left:5px;
		}
	
	p {
		width: 70%;
		text-align: left;
		color: #472400;
		opacity: 0.9;
		padding:10px;
		}
		

	ul {
		list-style-type:none;
		display: inline;
		}
		
	li { 
		display: inline;
		border-right: 1px solid #231B12;
		border-left: 1px solid #231B12;
		padding: 0 5px;
		}
		
	a {
		width: 70%;
		color: black;
		}		
	
	#nav {
		text-align: center;
		color: black;
		margin-top: 12px;
		margin-right: 2px;
		background-color: #D1C2B3;
		opacity: 0.6;
		border: 1px black;
		border-style: solid;
		padding: 7px 10px 7px 10px;
		}
		
			
	
	footer	{
		width: 80%;
		color: black;
		font-size: 0.8em;
    		text-align: right;
    		position: absolute;
    		line-height: 90%;
		margin: 0px
		}

	#wrapper {width: 1000px;
		}
		

	</style>